<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="devTeamEmail" value="carnassialdev@gmail.com" />
    <add key="githubOrganizationAndRepo" value="CascadesCarnivoreProject/Carnassial" />
  </appSettings>
  <system.net>
    <settings>
      <!-- ignore Github's failure to return fully proper response bodies -->
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>
