<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="releasesAddress" value="https://api.github.com/repos/CascadesCarnivoreProject/Carnassial/releases" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
