# User-specific files 
*.suo
*.user

# Build results 
bin/
ipch/
packages/
obj/
x64/
x86/
*.opendb
*.sdf
*.VC.db
**/StyleCop.Cache

# Profiling results
*.vsp
*.vspx

# Timelapse output
Backups/

# Visual Studio 2015 cache/options directory 
.vs/