# User-specific files 
.editorconfig
*.suo
*.user

# Build results 
bin/
ipch/
packages/
obj/
x64/
x86/
*.opendb
*.sdf
*.tmp_proj
*.VC.db
**/StyleCop.Cache

# Profiling results
*.psess
*.vsp
*.vspx

# Timelapse output
Backups/

# Visual Studio cache/options directory 
.vs/