<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp16A2A3A6796F240E438C6BA04ECCF51B" Guid="*">
                <File Id="fil5EC41DCEC121E2CB2A9E6D7E5E9351A0" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\Carnassial.exe" />
            </Component>
            <Component Id="cmp50ADF8C583F8FAB89354A13FDA2B590A" Guid="*">
                <File Id="fil6A7ED2144763B5241D79844450B81295" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\Carnassial.exe.config" />
            </Component>
            <Component Id="cmp836E27863DA87B63CF86875F02062A27" Guid="*">
                <File Id="fil877FD234EF6A5CD69419A211984E3F2E" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\Carnassial.pdb" />
            </Component>
            <Component Id="cmpE85673AFB3375AEFF30DDC89E23A1A19" Guid="*">
                <File Id="filC29CCFB6690F558051C9C967A3732A9E" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\Carnassial.vshost.exe" />
            </Component>
            <Component Id="cmp21640DB2D432999677DC3EEB100CA26F" Guid="*">
                <File Id="filF472E85B842FCE57E47B1FC6EF440604" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\Carnassial.vshost.exe.config" />
            </Component>
            <Component Id="cmp6134590A6292F930B1A8BFEDACF957FC" Guid="*">
                <File Id="filB93CBF4F18847C53786A01439011EBEF" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\Carnassial.vshost.exe.manifest" />
            </Component>
            <Component Id="cmp42247EF89FB4E5E8A24B53850078C272" Guid="*">
                <Class Id="{EBC25CF6-9120-4283-B972-0E5520D0000D}" Context="InprocServer32" Description="OfficeOpenXml.Packaging.Ionic.Zlib.ZlibCodec" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="OfficeOpenXml.Packaging.Ionic.Zlib.ZlibCodec" Description="OfficeOpenXml.Packaging.Ionic.Zlib.ZlibCodec" />
                </Class>
                <File Id="filAF74267ED652B59435FA66D4D5CAA37A" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\EPPlus.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{EBC25CF6-9120-4283-B972-0E5520D0000D}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EBC25CF6-9120-4283-B972-0E5520D0000D}\InprocServer32\4.1.0.0" Name="Class" Value="OfficeOpenXml.Packaging.Ionic.Zlib.ZlibCodec" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EBC25CF6-9120-4283-B972-0E5520D0000D}\InprocServer32\4.1.0.0" Name="Assembly" Value="EPPlus, Version=4.1.0.0, Culture=neutral, PublicKeyToken=ea159fdaa78159a1" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EBC25CF6-9120-4283-B972-0E5520D0000D}\InprocServer32\4.1.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EBC25CF6-9120-4283-B972-0E5520D0000D}\InprocServer32\4.1.0.0" Name="CodeBase" Value="file:///[#filAF74267ED652B59435FA66D4D5CAA37A]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EBC25CF6-9120-4283-B972-0E5520D0000D}\InprocServer32" Name="Class" Value="OfficeOpenXml.Packaging.Ionic.Zlib.ZlibCodec" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EBC25CF6-9120-4283-B972-0E5520D0000D}\InprocServer32" Name="Assembly" Value="EPPlus, Version=4.1.0.0, Culture=neutral, PublicKeyToken=ea159fdaa78159a1" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EBC25CF6-9120-4283-B972-0E5520D0000D}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EBC25CF6-9120-4283-B972-0E5520D0000D}\InprocServer32" Name="CodeBase" Value="file:///[#filAF74267ED652B59435FA66D4D5CAA37A]" Type="string" Action="write" />
            </Component>
            <Component Id="cmp18892C8B93975C604FBD1FD413D98C5E" Guid="*">
                <File Id="filBA1F3C7784DACFCC75D6E81EA33D9914" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\EPPlus.xml" />
            </Component>
            <Component Id="cmp28F47D9A07DA0DB70D726116C5513C1D" Guid="*">
                <File Id="filFBF72465D947A4CEAA8F094AB2ABC988" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\ICSharpCode.SharpZipLib.dll" />
            </Component>
            <Component Id="cmpFDD409D63AAED0F59378D2207BDBD3E4" Guid="*">
                <File Id="filE7A9B748F9757568126AA1422131699B" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\MetadataExtractor.dll" />
            </Component>
            <Component Id="cmp97DF18115D02018409BACB7C6480E2FC" Guid="*">
                <File Id="fil2B808BEF583B9D9681D0A9EAA0D3F1E7" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\MetadataExtractor.xml" />
            </Component>
            <Component Id="cmpBB1767D7C200C536ABB2D361F40F9D92" Guid="*">
                <File Id="fil4E0F4321F336BF83461A34116F3E30B7" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\Microsoft.WindowsAPICodePack.dll" />
            </Component>
            <Component Id="cmp702FCD8F941D530EED089ED86491F3AF" Guid="*">
                <Class Id="{1D3AA1DA-9765-315D-BC2D-6B6914709F04}" Context="InprocServer32" Description="MS.WindowsAPICodePack.Internal.ExplorerBrowserViewEvents" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="MS.WindowsAPICodePack.Internal.ExplorerBrowserViewEvents" Description="MS.WindowsAPICodePack.Internal.ExplorerBrowserViewEvents" />
                </Class>
                <File Id="filAAF0A287D1C4C9A238DFF053ADA2B1C8" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\Microsoft.WindowsAPICodePack.Shell.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{1D3AA1DA-9765-315D-BC2D-6B6914709F04}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1D3AA1DA-9765-315D-BC2D-6B6914709F04}\InprocServer32\1.1.0.0" Name="Class" Value="MS.WindowsAPICodePack.Internal.ExplorerBrowserViewEvents" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1D3AA1DA-9765-315D-BC2D-6B6914709F04}\InprocServer32\1.1.0.0" Name="Assembly" Value="Microsoft.WindowsAPICodePack.Shell, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1D3AA1DA-9765-315D-BC2D-6B6914709F04}\InprocServer32\1.1.0.0" Name="RuntimeVersion" Value="v2.0.50727" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1D3AA1DA-9765-315D-BC2D-6B6914709F04}\InprocServer32\1.1.0.0" Name="CodeBase" Value="file:///[#filAAF0A287D1C4C9A238DFF053ADA2B1C8]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1D3AA1DA-9765-315D-BC2D-6B6914709F04}\InprocServer32" Name="Class" Value="MS.WindowsAPICodePack.Internal.ExplorerBrowserViewEvents" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1D3AA1DA-9765-315D-BC2D-6B6914709F04}\InprocServer32" Name="Assembly" Value="Microsoft.WindowsAPICodePack.Shell, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1D3AA1DA-9765-315D-BC2D-6B6914709F04}\InprocServer32" Name="RuntimeVersion" Value="v2.0.50727" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1D3AA1DA-9765-315D-BC2D-6B6914709F04}\InprocServer32" Name="CodeBase" Value="file:///[#filAAF0A287D1C4C9A238DFF053ADA2B1C8]" Type="string" Action="write" />
            </Component>
            <Component Id="cmpE88393F8D170D55404F690FD880FB82D" Guid="*">
                <File Id="fil0205344CDBB598E9DD71B4A956564B40" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\Microsoft.WindowsAPICodePack.Shell.xml" />
            </Component>
            <Component Id="cmpBECE52D8D61755FF9BCA1A568C9F737F" Guid="*">
                <File Id="fil0B315F9C6BBEA8BB50F0B13913030274" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\Microsoft.WindowsAPICodePack.xml" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="*">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp125C379E185231EFADA4CB4301BD0A9E" Guid="*">
                <File Id="fil3A2F44A7730E98D18E0948B3261DFABD" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\Newtonsoft.Json.xml" />
            </Component>
            <Component Id="cmp6B7CE49F5F3A518047B74FB6AC2251C5" Guid="*">
                <File Id="fil86030949C08D40073D1F77D572C14B0D" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\System.Data.SQLite.dll" />
            </Component>
            <Component Id="cmpB0D00055965EDE11CC624747CE56C686" Guid="*">
                <File Id="fil1AD5F5CE645B996B33CF1EF5C058BA4F" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\System.Data.SQLite.xml" />
            </Component>
            <Component Id="cmpB5AC76F2952CC9DFFEAE55F2225097DA" Guid="*">
                <File Id="fil6AA069CB067F41A6BD8EE397FDA8959D" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\Xceed.Wpf.AvalonDock.dll" />
            </Component>
            <Component Id="cmp139591141CFE19A16FA77DFA69691224" Guid="*">
                <File Id="fil82DB0980FAF570684E3DEA67A301AE51" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\Xceed.Wpf.AvalonDock.xml" />
            </Component>
            <Component Id="cmp7AAD167AF28B00F512B8879F3F0BD93D" Guid="*">
                <File Id="fil828A7A54ACD0C302B49084D6AD7070D1" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\XmpCore.dll" />
            </Component>
            <Component Id="cmpB3302151149074E9D3D36DDBC64433DD" Guid="*">
                <File Id="fil35A8596B82B9221AF5472AC45F3A76EB" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\XmpCore.xml" />
            </Component>
            <Directory Id="dir242DC17B8DFC53C13CAF172FC08B730A" Name="de">
                <Component Id="cmp5C894AE3FF956FCDDF4DFFE3BA89B9C1" Guid="*">
                    <File Id="filB1C9AEB28739722A7265C14C29D55B54" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\de\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir9AE38F4F5CB5E565E774521E138F44FD" Name="es">
                <Component Id="cmp6EFE3E0288B5FA57D98FB920AB342897" Guid="*">
                    <File Id="fil87AEDF35E30560161D787B0A3BF3750B" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\es\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirB55DFDA91FEE7CCCBC65CA7493B75748" Name="fr">
                <Component Id="cmp3EB7F17B0DCBDF3729FDAAAF0CF6B665" Guid="*">
                    <File Id="fil894A87B41983376BAAE165DD02D4FB6C" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\fr\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir937629FDAC3D30087170D6DA46E383A6" Name="hu">
                <Component Id="cmpFB118A47202A6B98ED49B3C952C22F35" Guid="*">
                    <File Id="fil0686FF7DCF04C68D53BD45FE0C2A8BF6" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\hu\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir45DE18DD71F3E8DD6BE4A0E2B48778C8" Name="it">
                <Component Id="cmp0B9527E49327DF46736C8F6F58634C01" Guid="*">
                    <File Id="fil0B4AABB0E6DE194FF7BBE1F51933E675" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\it\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir339F53F3A11C56B053FD1FEC9B438810" Name="pt-BR">
                <Component Id="cmp78E3AC4B6177179C5F50ECB1A8B16D85" Guid="*">
                    <File Id="fil449CD491C0135989D68E91371269A3B8" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\pt-BR\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirBD3668345143F8EFDFB86A9B73810966" Name="ro">
                <Component Id="cmp1540E6C17030090C628A142AB815893D" Guid="*">
                    <File Id="filA53F285204ABC84BDD30D704D3AD1488" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\ro\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirE9205C68F964857267FD3312DBFF9A91" Name="ru">
                <Component Id="cmp0D4BE05FC1DE55590C9709CA01911525" Guid="*">
                    <File Id="fil4C2ED72F2BA64BA2A890779CC3B77DA4" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\ru\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir8FBB04D7AB5FE55FCF40758128EC763E" Name="sv">
                <Component Id="cmpC21D9CCB5856693FB3CE2A23AFB7DD83" Guid="*">
                    <File Id="fil75EA045A69F3E238DA47EBBABBF5DCD8" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\sv\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir43FCCFA109FBF584D9155DCE31E452EB" Name="x64">
                <Component Id="cmp19F6DF8A2ABC78D782D76F1EEC9A5800" Guid="*">
                    <File Id="filC7EA62E1AC64247AFBE682E8631402B8" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\x64\SQLite.Interop.dll" />
                </Component>
            </Directory>
            <Directory Id="dir97F42FF68945B97AAE670945C4FDAE93" Name="x86">
                <Component Id="cmp77484AF39EF2F8BD64E876C33A1C3E49" Guid="*">
                    <File Id="filD2ACACD0EBAF09B1953E9C3793C13C69" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\x86\SQLite.Interop.dll" />
                </Component>
            </Directory>
            <Directory Id="dir4A8DD77DBC79775EC39CACBC8AA06107" Name="zh-Hans">
                <Component Id="cmp11A3FE50B66CC04F854A4486A5199C89" Guid="*">
                    <File Id="fil6EE1E4B1FB2A7DF0A95E3D283E73ADFA" KeyPath="yes" Source="$(var.Carnassial.TargetDir)\zh-Hans\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Carnassial">
            <ComponentRef Id="cmp16A2A3A6796F240E438C6BA04ECCF51B" />
            <ComponentRef Id="cmp50ADF8C583F8FAB89354A13FDA2B590A" />
            <ComponentRef Id="cmp836E27863DA87B63CF86875F02062A27" />
            <ComponentRef Id="cmpE85673AFB3375AEFF30DDC89E23A1A19" />
            <ComponentRef Id="cmp21640DB2D432999677DC3EEB100CA26F" />
            <ComponentRef Id="cmp6134590A6292F930B1A8BFEDACF957FC" />
            <ComponentRef Id="cmp42247EF89FB4E5E8A24B53850078C272" />
            <ComponentRef Id="cmp18892C8B93975C604FBD1FD413D98C5E" />
            <ComponentRef Id="cmp28F47D9A07DA0DB70D726116C5513C1D" />
            <ComponentRef Id="cmpFDD409D63AAED0F59378D2207BDBD3E4" />
            <ComponentRef Id="cmp97DF18115D02018409BACB7C6480E2FC" />
            <ComponentRef Id="cmpBB1767D7C200C536ABB2D361F40F9D92" />
            <ComponentRef Id="cmp702FCD8F941D530EED089ED86491F3AF" />
            <ComponentRef Id="cmpE88393F8D170D55404F690FD880FB82D" />
            <ComponentRef Id="cmpBECE52D8D61755FF9BCA1A568C9F737F" />
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            <ComponentRef Id="cmp125C379E185231EFADA4CB4301BD0A9E" />
            <ComponentRef Id="cmp6B7CE49F5F3A518047B74FB6AC2251C5" />
            <ComponentRef Id="cmpB0D00055965EDE11CC624747CE56C686" />
            <ComponentRef Id="cmpB5AC76F2952CC9DFFEAE55F2225097DA" />
            <ComponentRef Id="cmp139591141CFE19A16FA77DFA69691224" />
            <ComponentRef Id="cmp7AAD167AF28B00F512B8879F3F0BD93D" />
            <ComponentRef Id="cmpB3302151149074E9D3D36DDBC64433DD" />
            <ComponentRef Id="cmp5C894AE3FF956FCDDF4DFFE3BA89B9C1" />
            <ComponentRef Id="cmp6EFE3E0288B5FA57D98FB920AB342897" />
            <ComponentRef Id="cmp3EB7F17B0DCBDF3729FDAAAF0CF6B665" />
            <ComponentRef Id="cmpFB118A47202A6B98ED49B3C952C22F35" />
            <ComponentRef Id="cmp0B9527E49327DF46736C8F6F58634C01" />
            <ComponentRef Id="cmp78E3AC4B6177179C5F50ECB1A8B16D85" />
            <ComponentRef Id="cmp1540E6C17030090C628A142AB815893D" />
            <ComponentRef Id="cmp0D4BE05FC1DE55590C9709CA01911525" />
            <ComponentRef Id="cmpC21D9CCB5856693FB3CE2A23AFB7DD83" />
            <ComponentRef Id="cmp19F6DF8A2ABC78D782D76F1EEC9A5800" />
            <ComponentRef Id="cmp77484AF39EF2F8BD64E876C33A1C3E49" />
            <ComponentRef Id="cmp11A3FE50B66CC04F854A4486A5199C89" />
        </ComponentGroup>
    </Fragment>
</Wix>